@import 'assets/styles/breakpoints';

.Layout {
	display: flex;
	margin: 20px;
	max-width: 1280px;
	width: 85%;

	&__Container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@include tablet{
	.Layout {
		width: 60%;
	}
}

@include desktop{
	.Layout {
		width: 40%;
	}
}